body{}

button{
	display: inline;
	border-radius:1em;
	padding: 2em 9em;
	font-size:16px;

}


/*responsive*/

@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .principal, .mapaContenido, .contenidoDiferenciales, .video{
        width: auto;
    }

    .listaDiferenciales, .imagen-diferenciales{
        width: 100%;
    }
}


.iniciar{
    background: rgb(240, 0, 32);
    color:white;
}

.iniciar:hover{
    background:rgb(232, 161, 191);
    color:rgb(76,34,51);
    transform: scale(1.2);
}