*{
    background: #E5E5E5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50pz;
    margin-left: 80px;
}

.inputPadron{
    border: none;
    color:#0a3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{color:#0a3871;}
.inputPadron:focus{
    outline: none;
}

/*responsive
@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .principal, .mapaContenido, .contenidoDiferenciales, .video{
        width: auto;
    }

    .listaDiferenciales, .imagen-diferenciales{
        width: 100%;
    }
}


.iniciar{
    background: rgb(240, 0, 32);
    color:white;
}

.iniciar:hover{
    background:rgb(232, 161, 191);
    color:rgb(76,34,51);
    transform: scale(1.2);
}*/
